<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/Css/setting.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://kit.fontawesome.com/d050a6d764.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
  

<!-- ------------------------------start sa sidebar------------------------- -->
  <div class="sbar ">
    <div class="row-search ">
        <div class="col-6">
            <div class="input-size input-group mb-3">
                <input type="text" class="form-control" placeholder="Search...">
                <button class="btn btn-primary" type="button">Search</button>
            </div>
        </div>
    </div>
</div>


  <div class="sidebar ">
    <!-- Dashboard -->
      <a class="navbar btn btn-outline-primary"  href="Dboard.html">
        <i class="icon fa-solid fa-chart-line"></i>
      </a>
      <br>
      <!-- Orphan -->
      <a class="navbar btn btn-outline-primary" href="Orphan.html">
        <i class="icon fa-solid fa-children" ></i>
      </a>
      <br>
      <!-- Files -->
      <a class="navbar btn btn-outline-primary" href="File.html">
        <i class="icon fa-solid fa-folder-open"></i>
      </a>
      <br>
      <!-- Trash -->
      <a class="navbar btn btn-outline-primary" href="Trash.html">
        <i class="icon fa-solid fa-trash-can"></i>
      </a>
      <br>
      <!-- Setting -->
      <a class="navbar btn btn-outline-primary" href="Setting.html">
        <i class="icon fa-solid fa-gears"></i>
      </a>
      <br>
      <!-- Logout -->
      <a class="navbar btn btn-outline-primary" href="Login.html">
        <i class="icon fa-solid fa-right-from-bracket"></i>
      </a>
  </div>

<!-- ------------------------------end sa sidebar------------------------- -->



      <div class="container-orphan">
        <div class="form-group container ">
          <div class="form-container p-4 rounded">
            <form id="myForm">
              <div class="mb-3">
                <label for="firstName" class="form-label">First Name:</label>
                <input type="text" class="form-control" id="firstName" value="John" readonly>
              </div>
              <div class="mb-3">
                <label for="middleName" class="form-label">Middle Name:</label>
                <input type="text" class="form-control" id="middleName" value="Doe" readonly>
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name:</label>
                <input type="text" class="form-control" id="lastName" value="Smith" readonly>
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" id="username" value="johndoe123" readonly>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" value="********" readonly>
              </div>
            </form>
            <button id="editButton" class="btn btn-primary">Edit</button>
            <div class="editbtn">
            <button id="saveButton" class="btn btn-success" style="display: none;">Save</button>
            <button id="cancelButton" class="btn btn-secondary" style="display: none;">Cancel</button>
            </div>
          </div>
        </div>
            <div class="container-profile">
            <div class="container-fluid">
            <div class="profile">
              <img class="larger-image" src="/static/Images/Setting.png" alt="Logout"><br>
              <ul>
              </div>
              <div class="container">
                <p>
                  <strong> Position: </strong>
                </p>
                <p>Orphan Manager</p>
                <p>
                  <strong> Name: </strong>
                </p>
                <p>John Doe Smith</p>
              </ul>
            </div>
          </div>
        </div>
    </div>



    <script src="/static/Js/setting-popup.js"></script>
</body>
</html>
