<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/Css/orphan-content.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://kit.fontawesome.com/d050a6d764.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
  


  <div class="sbar ">
    <div class="row-search ">
        <div class="col-6">
            <div class="input-size input-group mb-3">
                <input type="text" class="form-control" placeholder="Search...">
                <button class="btn btn-primary" type="button">Search</button>
            </div>
        </div>
    </div>
</div>


  <div class="sidebar ">
    <!-- Dashboard -->
      <a class="navbar btn btn-outline-primary"  href="Dboard.html">
        <i class="icon fa-solid fa-chart-line"></i>
      </a>
      <br>
      <!-- Orphan -->
      <a class="navbar btn btn-outline-primary" href="Orphan.html">
        <i class="icon fa-solid fa-children" ></i>
      </a>
      <br>
      <!-- Files -->
      <a class="navbar btn btn-outline-primary" href="File.html">
        <i class="icon fa-solid fa-folder-open"></i>
      </a>
      <br>
      <!-- Trash -->
      <a class="navbar btn btn-outline-primary" href="Trash.html">
        <i class="icon fa-solid fa-trash-can"></i>
      </a>
      <br>
      <!-- Setting -->
      <a class="navbar btn btn-outline-primary" href="Setting.html">
        <i class="icon fa-solid fa-gears"></i>
      </a>
      <br>
      <!-- Logout -->
      <a class="navbar btn btn-outline-primary" href="Login.html">
        <i class="icon fa-solid fa-right-from-bracket"></i>
      </a>
  </div>


  <div class="container-orphan">

    <div class="header">
        <img class="file-icon" src="/static/Images/Profpic (7).png"  alt="File Icon">
        <div class="info">
            <div>
                <h3>Johny Depp</h3>
                <p>192-2766-09-9</p>
            </div>
            <div class="info-icon" id="popupform">
                <button class="btn btn-primary" onclick="openPopupForm()"> Notes </button>
                <br>
               
            </div>
        </div>
    </div>

    <div class="orphan-info">
        <h2>Personal Information</h2>
            <p><strong>Date of Birth:</strong> <input class="form-control" type="text" value="January 1, 2030" aria-label="Disabled input example"  readonly> </p>
            <p><strong>Address:</strong> <input class="form-control" type="text" value="Namek, Mars" aria-label="Disabled input example"  readonly></p>
            <p><strong>Email:</strong> <input class="form-control" type="text" value="Octeby@msugensan.edu.ph" aria-label="Disabled input example"  readonly></p>
            <p><strong>Phone:</strong> <input class="form-control" type="text" value="09888822412" aria-label="Disabled input example"  readonly></p>
        <h2>Family Information</h2>
            <p><strong>Mother:</strong> <input class="form-control" type="text" value="Chi-Chi" aria-label="Disabled input example"  readonly></p></p>
            <p><strong>Father:</strong> <input class="form-control" type="text" value="Son Goku" aria-label="Disabled input example"  readonly></p></p>
    </div>

    <div class="orphan-info-2">
      <h2>Educational Background</h2>
        <p><strong>High School:</strong> <input class="form-control" type="text" value="City Low Nationanl High School" aria-label="Disabled input example"  readonly></p></p>
        <p><strong>College:</strong> <input class="form-control" type="text" value="Singing Live University" aria-label="Disabled input example"  readonly></p></p>
        <p><strong>Degree:</strong> <input class="form-control" type="text" value="Bachelor of Science in Bank Robbery" aria-label="Disabled input example"  readonly></p></p>
        <p><strong>Graduation Year:</strong> <input class="form-control" type="text" value="1999" aria-label="Disabled input example"  readonly></p></p>
        

    </div>

  </div>

  <div class="popup-form" id="popup-form">
    <p>Popup Form</p>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
      <textarea class="form-control-popup form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

      <div class="popup-btn"> 
      <button class="btn btn-primary" type="submit" value="Submit"> Submit </button>
      <button class="btn btn-primary" onclick="closePopupForm()">Close</button>
      </div>
</div>

      
<script src="../Js/note.js"></script>
</body>
</html>