{% extends "Dashboard/base.html" %}

{% load static %}

{% block title %}
    Orphan Profile
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Css\orphan-content.css' %}">
{% endblock %}

<body>
    <main>
        {% block content %}

            <div class="container-orphan">

                <div class="header">
                    <img class="file-icon" src="{% static 'images\profilepics\Profpic (7).png' %}"  alt="File Icon">
                    <div class="info">
                        <div>
                            <h3>{{ orphan.firstName }} {{ orphan.middleName }} {{ orphan.lastName }}</h3>
                            <p>Orphan ID: {{ orphan.orphanID }}</p>
                        </div>
                        <div class="info-icon">
                            <button class="btn btn-primary"> Add Notes </button>
                        </div>
                    </div>
                </div>

                <div class="orphan-info">
                    <h2>Personal Information</h2>
                        <p><strong>Gender:</strong> {{ orphan.gender }}</p>
                        <p><strong>Birth Date:</strong> {{ orphan.birthDate }}</p>
                        <p><strong>Date Admitted:</strong> {{ orphan.dateAdmitted }}</p>
                        <p><strong>Ethnicity:</strong> {{ orphan.ethnicity }}</p>
                </div>
                
                {% if orphan.physical_health %}
                <div class="orphan-info-2">
                    <h2>Physical Health</h2>
                    <p><strong>Height:</strong> {{ orphan.physical_health.height }}</p>
                    <p><strong>Weight:</strong> {{ orphan.physical_health.weight }}</p>
                    <p><strong>BMI Category:</strong> {{ orphan.physical_health.bmi_category.category }}</p>
                </div>
            {% else %}
                <p>No physical health data available for this orphan.</p>
            {% endif %}

            <div class="orphan-info-3">
                <div class="info-1">
                    <div>
                        <h3>Files</h3>
                    </div>
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="orphan-content.html">
                      <div class="btn btn-outline-light file-orphan" >
                       
                          <div class="dropdown-container">
                              <img class="file-icon-orphan" src="../Images/Profpic (7).png" alt="File Icon">
                              <div class="file-name-orphan">File 1.txt</div>
                              <a class="icon-dropdown dropdown-button btn" id="myButton">
                                  <i class="fa-solid fa-ellipsis"></i>
                              </a>
                              <div class="dropdown-content" id="myDropdown">
                                  <a class="dropdown-item" onclick="openPopupForm()"  >Edit</a>
                                  <a class="dropdown-item" href="#" id="openForm">Delete</a>
                                  
                              </div>
                          </div>
                    </div>
                  </a>

                  <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="orphan-content.html">
                    <div class="btn btn-outline-light file-orphan" >
                     
                        <div class="dropdown-container">
                            <img class="file-icon-orphan" src="../Images/Profpic (7).png" alt="File Icon">
                            <div class="file-name-orphan">File 1.txt</div>
                            <a class="icon-dropdown dropdown-button btn" id="myButton">
                                <i class="fa-solid fa-ellipsis"></i>
                            </a>
                            <div class="dropdown-content" id="myDropdown">
                                <a class="dropdown-item" onclick="openPopupForm()"  >Edit</a>
                                <a class="dropdown-item" href="#" id="openForm">Delete</a>
                                
                            </div>
                        </div>
                  </div>
                </a>
                    
                </div>
            </div>
                
            {% endblock %}  
    </main>
      
</body>
</html>