{% extends "Dashboard/base.html" %} 
{% load static %} 

{% block css %} 
{%endblock %} 

{% block extra_meta %} 
{% endblock %} 

{% block title %} 
Deleted Files 
{% endblock %} 


{% block content %}

<!-- content -->
<div class="container-fluid row p-2">
  <div class="col d-flex pb-1">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
  <button class="btn btn-outline-success" type="submit">Search</button>
  </div>
  <div class="col text-end">
    <!-- <button class="btn btn-danger" id="deleteSelectedFiles">Delete Selected</button> -->
    <!-- <button class="btn btn-danger" id="emptyTrash">Empty Trash</button> -->
  </div>
  <hr class="m-0 mt-2">
</div>
<!-- trash content -->
<div class="d-flex justify-content-between align-items-center mb-3 mt-0">
  <div>
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="selectAllCheckbox"
    />
    <label class="form-check-label" for="selectAllCheckbox">Select All</label>
  </div>
  
  <div class="d-flex"> <!-- Add 'd-flex' class here -->
    <form method="POST" action="{% url 'delete_files' %}" id="deleteForm">
        {% csrf_token %}
        <button class="btn btn-outline-danger me-2" type="submit">
          <i class="bi bi-trash"></i> Delete
        </button>
      </form>

      <form method="POST" action="{% url 'restore_files' %}" id="restoreForm">
        {% csrf_token %}
        <button class="btn btn-outline-primary" type="submit">
          <i class="bi bi-arrow-clockwise"></i> Restore
        </button>
      </form>
  </div>
</div>

<div class="col-12">
  <div class="list-group">
    {% for file in files %}
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <div>
          <input
            class="form-check-input me-2"
            type="checkbox"
            value="{{ file.fileID }}"
            id="fileCheckbox{{ forloop.counter }}"
            name="file_ids"
            form="deleteForm restoreForm"
          />
          <label
            class="form-check-label mb-0"
            for="fileCheckbox{{ forloop.counter }}"
            >{{ file.fileName }}</label
          >
        </div>
        <small>{{ file.deleted_at|timesince }} days ago</small>
      </div>
      <p class="mb-1">{{ file.content_snippet }}</p>
    </div>
    {% endfor %}


  <footer class="d-flex justify-content-between p-3 bg-light">
    <button class="btn btn-primary" id="previous-page">Previous</button>
    <span class="mx-3">Page <span id="current-page">1</span> of
      <span id="total-pages">10</span></span>
    <button class="btn btn-primary" id="next-page">Next</button>
</footer>
  {% endblock %} 
  
  {% block js %}
  <script src="{% static 'Js/trash.js' %}"></script>
  <script src="{% static 'Js/uploadfile.js' %}"></script>
  {% endblock %}
