/* -----------------------------------------background */
body {
    --dot-bg: #d4f1f8;
    --dot-color: #03045e;
    --dot-size: 1px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
  }
/* ------------------------------------------------------------ */
.row{
    background-color: rgb(134, 134, 224);
}


.sbar{
    background-color: none;
    position: absolute;
    /* border: 1px solid black; */
    left: 60%;
    width: 40%;
    
}
.form-control{
    width: 100%;
    height: 40px;
    padding: 5px;
    position: relative;
    /* border: 1px solid red; */
}

.col-6{
    width: 100%;
}

.input-size{
    width: 100%;
    height: 40px;
    padding: 5px;
}

.row-search{
    background-color: none;
    width: 100%;
}


.sidebar{
    width: 8%;
    display: flex;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    /* border: 1px solid blue; */
    background-color: #173B7E;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    border: 1px red;
    position: relative;
    background-color: none;
    color: #9FC3E5;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.icon{
    font-size: 33px;
}

.icon-dropdown{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 80px;
    
    
}


.container-orphan{
    position: absolute;
  padding: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: azure;
  border-radius: 12px;
  border: solid black 1px;
  left: 12%;
  top: 10%;
  width: 85%;
  height: 85%;
  overflow-y: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}




/* -------------------content---------------------------- */
.gpa {
    margin-top: 20px;
}

.file-icon{
    position: relative;
    width: 20%;
    height: 100%;
}

.header{
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
    height: 33%;
    border-bottom: 1px solid rgb(186, 186, 186);
    padding: 10px;
}

.info {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
}

.info-icon{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 35%;
    height: 100%;
    left: 60%;
    /* border: 1px solid black; */
    flex-wrap: nowrap;
}



.orphan-info{
    /* border: 1px solid black; */
    /* position: absolute; */
    width: 100%;
    height: 95%;
    padding: 10px;
    
}

.orphan-info-2{
    /* border: 1px solid black; */
    /* position: absolute; */
    width: 100%;
    height: 55%;
    padding: 10px;
}

.orphan-info-3{
    /* position: absolute; */
    width: 100%;
    height: 90%;
    padding: 10px;

}
.orphan-info-4{
    /* position: absolute; */
    width: 100%;
    height: 55%;
    padding: 10px;

}



/* ------------------popup form ---------------- */

.popup-form {
    position: fixed;
    font-size: 10px;
    width: 50%;
    height: 45%;
    display: none;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    border: 1px solid black;
    border-radius: 12px;
    left: 30%;
    top: 25%;
    box-shadow: 0px 8px 16px 500rem rgb(12 1 1 / 48%);
}

.form-control-popup{
height: 60%;
}

.popup-form input[type="text"]{
    width: 100%;
    font-size: 20px;
}

.popup-btn{
    display: flex;
    justify-content: space-between;
}
 
#comment {
    font-size: 14px;
    height: 100px;
}



/* ----------------------file manager */
.file-manager-orphan {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    max-width: 100%;
    max-height: 10px;
}
  
  .file-orphan {
    border: 1px solid #cdd9e7;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    height: 150px;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .file-icon-orphan {
    width: 100px;
    height: 80px;
    margin: 12px;
    margin-bottom: 16px;
  }
  
  .file-name-orphan {
      font-weight: bold;
    }

    
    /* DROPDOWN---------------------------------------------- */
    .dropdown{
          text-align: left;
          position: relative;
          bottom: 80px;
          right: 15px;
          }
    
      /* Style for the button DROPWONS----------------------------------------------------*/
      .dropdown-container {
        position: relative;
        
    }
  
  .dropdown-button {
        color: #0026ff;
        cursor: pointer;
        position: absolute;
        bottom: 110px;
        left: 0px;
        border: none;
    }

    .dropdown-button:hover{
        background-color: transparent;
    }

    /* Style for the dropdown content */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(12, 1, 1, 0.2);
        z-index: 1;
        top: 0px;
        left: 30px;
    }

    /* Style for the dropdown items */
    .dropdown-item {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        color: #333;
    }

    /* Change the background color of the dropdown items when hovered */
    .dropdown-item:hover {
        background-color: #ddd;
    }

    /* * ----------------------------popup form template--------------- */ 

    .popup-form {
        position: fixed;
        font-size: 12px;
        width: 62%;
        height: 45%;
        display: none;
        /* padding: 2px; */
        background-color: rgb(255, 255, 255);
        z-index: 2;
        border: 1px solid black;
        border-radius: 12px;
        left: 25%;
        top: 25%;
        box-shadow: 0px 8px 16px 500rem rgb(12 1 1 / 48%);
    }
    
.form-control-popup{
    height: 60%;
}
    
    .popup-form input[type="text"]{
        width: 100%;
        font-size: 20px;
    }

    .popup-btn{
        display: flex;
        justify-content: space-between;
    }
     
    #comment {
        font-size: 14px;
        height: 100px;
    }

/* ----------------------------------------------------------- */
    .popup-form-add {
        position: fixed;
        font-size: 10px;
        width: 50%;
        height: 45%;
        display: none;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        z-index: 2;
        border: 1px solid black;
        border-radius: 12px;
        left: 30%;
        top: 25%;
        box-shadow: 0px 8px 16px 500rem rgb(12 1 1 / 48%);
}
    
.form-control-popup-add{
    height: 60%;
}
    
    .popup-form-add input[type="text"]{
        width: 100%;
        font-size: 20px;
    }

    .popup-btn{
        position: relative;
        display: flex;
        justify-content: space-between;
    }
     
    #comment {
        font-size: 14px;
        height: 100px;
    }
