/* -----------------------------------------background */
body {
    --dot-bg: #d4f1f8;
    --dot-color: #03045e;
    --dot-size: 1px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
  }
/* ------------------------------------------------------------ */
/* .row{
    background-color: rgb(134, 134, 224);
} */


.sbar{
    background-color: none;
    position: absolute;
    /* border: 1px solid black; */
    left: 60%;
    width: 40%;
    
}
.form-control{
    width: 100%;
    height: 40px;
    padding: 5px;
    position: relative;
    /* border: 1px solid red; */
}

.col-6{
    width: 100%;
}

.input-size{
    width: 100%;
    height: 40px;
    padding: 5px;
}

.row-search{
    background-color: none;
    width: 100%;
}


.sidebar{
    width: 8%;
    display: flex;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    /* border: 1px solid blue; */
    background-color: #173B7E;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    border: 1px red;
    position: relative;
    background-color: none;
    color: #9FC3E5;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.icon{
    font-size: 33px;
}

.icon-dropdown{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 80px;
    
    
}



/* -----------------------content----------------------- */



.container-orphan{
    position: absolute;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px;
  
  background-color: azure;
  border-radius: 12px;
  border: solid black 1px;
  left: 12%;
  top: 10%;
  width: 85%;
  height: 85%;
  overflow-y: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}




/* ----------------------file manager */
.file-manager-orphan {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    max-width: 100%;
    max-height: 10px;
}
  
  .file-orphan {
    border: 1px solid #cdd9e7;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    height: 150px;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .file-icon-orphan {
    width: 100px;
    height: 80px;
    margin: 12px;
    margin-bottom: 16px;
  }
  
  .file-name-orphan {
      font-weight: bold;
    }

    
    /* DROPDOWN---------------------------------------------- */
    .dropdown{
          text-align: left;
          position: relative;
          bottom: 80px;
          right: 15px;
          }
    
      /* Style for the button DROPWONS----------------------------------------------------*/
      /* .dropdown-container {
        position: relative;
        
    } */
  
  .dropdown-button {
        color: #0026ff;
        cursor: pointer;
        position: absolute;
        bottom: 110px;
        left: 0px;
        border: none;
    }

    .dropdown-button:hover{
        background-color: transparent;
    }

    /* Style for the dropdown content */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(12, 1, 1, 0.2);
        z-index: 1;
        top: 0px;
        left: 30px;
    }

    /* Style for the dropdown items */
    .dropdown-item {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        color: #333;
    }

    /* Change the background color of the dropdown items when hovered */
    .dropdown-item:hover {
        background-color: #ddd;
    }

    /* * ----------------------------popup form template--------------- */ 

    .popup-form {
        position: fixed;
        font-size: 12px;
        width: 62%;
        height: 45%;
        display: none;
        /* padding: 2px; */
        background-color: rgb(255, 255, 255);
        z-index: 2;
        border: 1px solid black;
        border-radius: 12px;
        left: 25%;
        top: 25%;
        box-shadow: 0px 8px 16px 500rem rgb(12 1 1 / 48%);
    }
    
.form-control-popup{
    height: 60%;
}
    
    .popup-form input[type="text"]{
        width: 100%;
        font-size: 20px;
    }

    .popup-btn{
        display: flex;
        justify-content: space-between;
    }
     
    #comment {
        font-size: 14px;
        height: 100px;
    }

/* ----------------------------------------------------------- */
    .popup-form-add {
        position: fixed;
        font-size: 10px;
        width: 50%;
        height: 45%;
        display: none;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        z-index: 2;
        border: 1px solid black;
        border-radius: 12px;
        left: 30%;
        top: 25%;
        box-shadow: 0px 8px 16px 500rem rgb(12 1 1 / 48%);
}
    
.form-control-popup-add{
    height: 60%;
}
    
    .popup-form-add input[type="text"]{
        width: 100%;
        font-size: 20px;
    }

    .popup-btn{
        position: relative;
        display: flex;
        justify-content: space-between;
    }
     
    #comment {
        font-size: 14px;
        height: 100px;
    }

 /* ------------------------------file manager template---------------------- */
 
 .file-manager-actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.file-manager-actions > * {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.file-manager-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.file-item {
    position: relative;
    z-index: 1;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border: 1px solid #eee;
    cursor: pointer;
}
.file-item:hover,
.file-item.focused {
    border-color: rgba(0, 0, 0, 0.05);
}
.file-item.focused {
    z-index: 2;
}
.file-item * {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-decoration:none;
}
.dark-style .file-item:hover,
.dark-style .file-item.focused {
    border-color: rgba(255, 255, 255, 0.2);
}
.file-item-checkbox {
    margin: 0 !important;
}
.file-item-select-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}
.file-item-img {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
}
.file-item-name {
    display: block;
    overflow: hidden;
}
.file-manager-col-view .file-item {
    margin: 0 0.25rem 0.25rem 0;
    padding: 1.25rem 0 1rem 0;
    width: 9rem;
    text-align: center;
}
[dir="rtl"] .file-manager-col-view .file-item {
    margin-right: 0;
    margin-left: 0.25rem;
}
.file-manager-col-view .file-item-img,
.file-manager-col-view .file-item-icon {
    display: block;
    margin: 0 auto 0.75rem auto;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    line-height: 4rem;
}
.file-manager-col-view .file-item-level-up {
    font-size: 1.5rem;
}
.file-manager-col-view .file-item-checkbox,
.file-manager-col-view .file-item-actions {
    position: absolute;
    top: 6px;
}
.file-manager-col-view .file-item-checkbox {
    left: 6px;
}
[dir="rtl"] .file-manager-col-view .file-item-checkbox {
    right: 6px;
    left: auto;
}
.file-manager-col-view .file-item-actions {
    right: 6px;
}
[dir="rtl"] .file-manager-col-view .file-item-actions {
    right: auto;
    left: 6px;
}
.file-manager-col-view .file-item-name {
    width: 100%;
}
.file-manager-col-view .file-manager-row-header,
.file-manager-col-view .file-item-changed {
    display: none;
}
.file-manager-row-view .file-manager-row-header,
.file-manager-row-view .file-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 0.125rem 0;
    padding: 0.25rem 3rem 0.25rem 2.25em;
    width: 100%;
}
[dir="rtl"] .file-manager-row-view .file-manager-row-header,
[dir="rtl"] .file-manager-row-view .file-item {
    padding-right: 2.25em;
    padding-left: 3rem;
}
.file-manager-row-view .file-item-img,
.file-manager-row-view .file-item-icon {
    display: block;
    margin: 0 1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.25rem;
    line-height: 2rem;
}
.file-manager-row-view .file-item-level-up {
    font-size: 1rem;
}
.file-manager-row-view .file-item-checkbox,
.file-manager-row-view .file-item-actions {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.file-manager-row-view .file-item-checkbox {
    left: 10px;
}
[dir="rtl"] .file-manager-row-view .file-item-checkbox {
    right: 10px;
    left: auto;
}
.file-manager-row-view .file-item-actions {
    right: 10px;
}
[dir="rtl"] .file-manager-row-view .file-item-actions {
    right: auto;
    left: 10px;
}
.file-manager-row-view .file-item-changed {
    display: none;
    margin-left: auto;
    width: 10rem;
}
[dir="rtl"] .file-manager-row-view .file-item-changed {
    margin-right: auto;
    margin-left: 0;
}
.file-manager-row-view .file-item-name {
    width: calc(100% - 4rem);
}
.file-manager-row-view .file-manager-row-header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    font-weight: bold;
}
.file-manager-row-view .file-manager-row-header .file-item-name {
    margin-left: 4rem;
}
[dir="rtl"] .file-manager-row-view .file-manager-row-header .file-item-name {
    margin-right: 4rem;
    margin-left: 0;
}
.light-style .file-item-name {
    color: #4e5155 !important;
}
.light-style .file-item.selected .file-item-select-bg {
    opacity: 0.15;
}
@media (min-width: 768px) {
    .light-style .file-manager-row-view .file-item-changed {
        display: block;
    }
    .light-style .file-manager-row-view .file-item-name {
        width: calc(100% - 15rem);
    }
}
@media (min-width: 992px) {
    .light-style .file-manager-col-view .file-item-checkbox,
    .light-style .file-manager-col-view .file-item-actions {
        opacity: 0;
    }
    .light-style .file-manager-col-view .file-item:hover .file-item-checkbox,
    .light-style .file-manager-col-view .file-item.focused .file-item-checkbox,
    .light-style .file-manager-col-view .file-item.selected .file-item-checkbox,
    .light-style .file-manager-col-view .file-item:hover .file-item-actions,
    .light-style .file-manager-col-view .file-item.focused .file-item-actions,
    .light-style .file-manager-col-view .file-item.selected .file-item-actions {
        opacity: 1;
    }
}
.material-style .file-item-name {
    color: #4e5155 !important;
}
.material-style .file-item.selected .file-item-select-bg {
    opacity: 0.15;
}
@media (min-width: 768px) {
    .material-style .file-manager-row-view .file-item-changed {
        display: block;
    }
    .material-style .file-manager-row-view .file-item-name {
        width: calc(100% - 15rem);
    }
}
@media (min-width: 992px) {
    .material-style .file-manager-col-view .file-item-checkbox,
    .material-style .file-manager-col-view .file-item-actions {
        opacity: 0;
    }
    .material-style .file-manager-col-view .file-item:hover .file-item-checkbox,
    .material-style .file-manager-col-view .file-item.focused .file-item-checkbox,
    .material-style .file-manager-col-view .file-item.selected .file-item-checkbox,
    .material-style .file-manager-col-view .file-item:hover .file-item-actions,
    .material-style .file-manager-col-view .file-item.focused .file-item-actions,
    .material-style .file-manager-col-view .file-item.selected .file-item-actions {
        opacity: 1;
    }
}
.dark-style .file-item-name {
    color: #fff !important;
}
.dark-style .file-item.selected .file-item-select-bg {
    opacity: 0.15;
}
@media (min-width: 768px) {
    .dark-style .file-manager-row-view .file-item-changed {
        display: block;
    }
    .dark-style .file-manager-row-view .file-item-name {
        width: calc(100% - 15rem);
    }
}
@media (min-width: 992px) {
    .dark-style .file-manager-col-view .file-item-checkbox,
    .dark-style .file-manager-col-view .file-item-actions {
        opacity: 0;
    }
    .dark-style .file-manager-col-view .file-item:hover .file-item-checkbox,
    .dark-style .file-manager-col-view .file-item.focused .file-item-checkbox,
    .dark-style .file-manager-col-view .file-item.selected .file-item-checkbox,
    .dark-style .file-manager-col-view .file-item:hover .file-item-actions,
    .dark-style .file-manager-col-view .file-item.focused .file-item-actions,
    .dark-style .file-manager-col-view .file-item.selected .file-item-actions {
        opacity: 1;
    }
}
/* -----------------------------------------------------------end------------------------------ */


    
