/* -----------------------------------------background */
body {
    --dot-bg: #d4f1f8;
    --dot-color: #03045e;
    --dot-size: 1px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
  }
/* ------------------------------------------------------------ */
.row{
    background-color: rgb(134, 134, 224);
}


.sbar{
    background-color: none;
    position: absolute;
    /* border: 1px solid black; */
    left: 60%;
    width: 40%;
    
}
.form-control{
    width: 100%;
    height: 40px;
    padding: 5px;
    position: relative;
    /* border: 1px solid red; */
}

.col-6{
    width: 100%;
}

.input-size{
    width: 100%;
    height: 40px;
    padding: 5px;
}

.row-search{
    background-color: none;
    width: 100%;
}


.sidebar{
    padding-top: 2%;
    padding-left: 0.1%;
    padding-right: 0.1%;
    width: 8%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    /* border: 1px solid blue; */
    background-color: #173B7E;
}

.navbar{
    border: 1px red;
    position: relative;
    display: flex;
    background-color: none;
    color: #9FC3E5;
    align-items: center;
    justify-content: center;
    width: 60%;
    left: 20%;
}

.icon{
    font-size: 33px;
}

.icon-dropdown{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 80px;
    
    
}


.container-orphan{
    position: absolute;
  padding: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #FBF9F6;
  border-radius: 12px;
  border: solid black 1px;
  left: 12%;
  top: 10%;
  width: 85%;
  height: 85%;
  overflow-y: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}




/* -------------------content---------------------------- */

.file-icon{
    position: relative;
    width: 20%;
    height: 100%;
}

.header{
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
    height: 33%;
    border-bottom: 1px solid rgb(186, 186, 186);
    padding: 10px;
}

.info {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
}

.info-icon{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 35%;
    height: 100%;
    left: 60%;
    /* border: 1px solid black; */
    flex-wrap: nowrap;
}



.orphan-info{
    /* border: 1px solid black; */
    position: absolute;
    width: 45%;
    height: 70%;
    padding: 10px;
    
}

.orphan-info-2{
    /* border: 1px solid black; */
    position: absolute;
    width: 45%;
    height: 70%;
    left: 50%;
    padding: 10px;
}


/* ------------------popup form ---------------- */

.popup-form {
    position: fixed;
    font-size: 10px;
    width: 50%;
    height: 45%;
    display: none;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    border: 1px solid black;
    border-radius: 12px;
    left: 30%;
    top: 25%;
    box-shadow: 0px 8px 16px 500px rgb(12 1 1 / 48%);
}

.form-control-popup{
height: 60%;
}

.popup-form input[type="text"]{
    width: 100%;
    font-size: 20px;
}

.popup-btn{
    display: flex;
    justify-content: space-between;
}
 
#comment {
    font-size: 14px;
    height: 100px;
}

.orphan-info-3{
    position: absolute;
    top: 75%;
    width: 80%;
    left: 3%;
}

