/* -----------------------------------------background */
body {
    --dot-bg: #d4f1f8;
    --dot-color: #03045e;
    --dot-size: 1px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
  }
/* ------------------------------------------------------------ */
.row{
    background-color: rgb(134, 134, 224);
}


.sbar{
    background-color: none;
    position: absolute;
    /* border: 1px solid black; */
    left: 60%;
    width: 40%;
    
}
.form-control{
    width: 100%;
    height: 40px;
    padding: 5px;
    position: relative;
    /* border: 1px solid red; */
}

.col-6{
    width: 100%;
}

.input-size{
    width: 100%;
    height: 40px;
    padding: 5px;
}

.row-search{
    background-color: none;
    width: 100%;
}


.sidebar{
    padding-top: 2%;
    padding-left: 0.1%;
    padding-right: 0.1%;
    width: 8%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    /* border: 1px solid blue; */
    background-color: #173B7E;
}

.navbar{
    border: 1px red;
    position: relative;
    display: flex;
    background-color: none;
    color: #9FC3E5;
    align-items: center;
    justify-content: center;
    width: 60%;
    left: 20%;
}

/* -----------------Icon size */
.icon{
    font-size: 33px;
}

.icon-dropdown{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 80px;
    
    
}

.inputbox{
    width: 60%;
}



.container-orphan{
    position: absolute;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px;
  
  background-color: #FBF9F6;
  border-radius: 12px;
  border: solid black 1px;
  left: 12%;
  top: 10%;
  width: 85%;
  height: 85%;
  overflow-y: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.form-group {
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 60%;
    position: absolute;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: solid black 1px;
  }

  .form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  .form-group input[type="submit"]:hover {
    background-color: #45a049;
  }

  .profile{
    position: absolute;
    left: 65%;
    width: 30%;
    height: 50%;
    top: 10%;
    /* border: 1px solid black; */
}
  
.larger-image{
    width: 100%;
    height: 80%;
}


.editbtn{
    display: flex;
    justify-content: space-between;
}


.container-profile{
    border: 1px solid rgba(0, 0, 0, 0.329);
    height: 100%;
    width: 36%;
    float: right;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.container-profile p{
    margin: 5px;
}