{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://kit.fontawesome.com/d050a6d764.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   -->
    
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Css/Dboard.css' %}">
    {% endblock %}
    
    <title>{% block title %}Obed's Orphanage System{% endblock %}</title>
  </head>


<body>
  <div class="sbar ">
    <div class="row-search ">
        <div class="col-6">
            <form action="{% url 'search' %}" method="get">
                <div class="input-size input-group mb-3">
                  <input type="text" name="q" id="searchBox" class="form-control" placeholder="Search...">
                  <!-- <button class="btn btn-primary" type="submit">Search</button> -->
                  <div id="search-suggestions-dropdown"></div>  <!-- Add this line -->
                </div>
            </form>
        </div>
    </div>
  </div>


  <div class="sidebar ">
    <!-- Dashboard -->
      <a class="navbar btn btn-outline-primary"  href="{% url 'Dashboard' %}">
        <i class="icon fa-solid fa-chart-line"></i>
      </a>
      <br>
      <!-- Orphan -->
      <a class="navbar btn btn-outline-primary" href="{% url 'orphans' %}">
        <i class="icon fa-solid fa-children" ></i>
      </a>
      <br>
      
      <!-- Files -->
      <a class="navbar btn btn-outline-primary" href="{% url 'files' %}">
        <i class="icon fa-solid fa-folder-open"></i>
      </a>
      <br>
      <!-- Trash -->
      <a class="navbar btn btn-outline-primary" href="{% url 'trash_view' %}">
        <i class="icon fa-solid fa-trash-can"></i>
      </a>
      <br>
      <!-- Setting -->
      <a class="navbar btn btn-outline-primary" href="{% url 'settings' %}">
        <i class="icon fa-solid fa-gears"></i>
      </a>
      <br>
      <!-- Logout -->
      <a class="navbar btn btn-outline-primary" href="{% url 'login' %}">
        <i class="icon fa-solid fa-right-from-bracket"></i>
      </a>
  </div>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    $(document).ready(function(){
      console.log("Document is ready."); // Confirm that the document is ready
  
      $('#searchBox').autocomplete({
        source: function(request, response) {
          console.log("Autocomplete source function called."); // Confirm source function is called
          console.log("Making AJAX request with query:", request.term);
          $.ajax({
            url: "{% url 'search' %}",
            dataType: 'json',
            data: {
              'q': request.term
            },
            success: function(data) {
              console.log("Received data:", data); // Log received data
              var suggestions = [];
              data.forEach(function(item) {
                suggestions.push({
                  label: item.label,
                  value: item.value
                });
              });
              response(suggestions);
            },
            error: function(jqXHR, textStatus, errorThrown) {
              console.error("AJAX Error:", textStatus, errorThrown); // Log any AJAX errors
            }
          });
        },
        minLength: 2,
        select: function(event, ui) {
          console.log("Selected item:", ui.item); // Log the selected item
          window.location.href = ui.item.value;
        }
      });
  
      // Additional log to confirm the autocomplete has been initialized
      console.log("Autocomplete has been initialized on #searchBox.");
    });
  </script>
  
  <main>
    {% block content %}
    {% endblock %}
  </main>

  {% block js %}

  {% endblock %}

</body>
</html>