def intervention_behavior(request):
    current_year = datetime.now().year
    orphan_scores = Notes.objects.values('related_orphan').annotate(
        average_score=Avg('sentiment_score'),
        last_modified=Max('timestamp')  # Fetches the last modification date
    )

    intervention_status_colors = {
        'unresolved': 'danger',  # Red color for unresolved issues
        'pending': 'warning',  # Yellow color for pending issues
        'resolved': 'success',  # Green color for resolved issues
        None: 'info'  # Blue color for no intervention needed
    }

    orphans_with_sentiment = []
    for orphan_score in orphan_scores:
        orphan_id = orphan_score['related_orphan']
        orphan = Info.objects.get(pk=orphan_id)
        average_score = orphan_score['average_score']
        last_modified = orphan_score['last_modified']

        latest_intervention = orphan.behaviorinterventions.order_by(
            '-last_modified').first()

        if latest_intervention:
            intervention_status = latest_intervention.status
            intervention_plan = latest_intervention.description
        else:
            # Set default values if no intervention exists
            intervention_status = 'unresolved' if average_score < -0.5 else None
            intervention_plan = ''

        intervention_color = intervention_status_colors.get(
            intervention_status, 'info')

        # Determine sentiment category based on the average score
        if average_score > 0.5:
            sentiment_category = 'Meets expectations'
        elif -0.5 <= average_score <= 0.5:
            sentiment_category = 'Needs significant improvement'
        else:
            sentiment_category = 'Needs critical improvement'

        orphans_with_sentiment.append({
            'orphan': orphan,
            'average_score': average_score,
            'sentiment_category': sentiment_category,
            'last_modified': last_modified,
            'intervention_status': intervention_status,
            'intervention_color': intervention_color,
            'intervention_plan': intervention_plan
        })

    def sort_key(x):
        # Define sort priorities
        status_priority = {
            'Needs critical improvement': 1,
            'Needs significant improvement': 2,
            'Meets expectations': 3
        }
        intervention_priority = {
            'unresolved': 1,
            'pending': 2,
            None: 3,
            'resolved': 4
        }
        return (
            status_priority.get(x['sentiment_category'], 99),
            intervention_priority.get(x['intervention_status'], 99)
        )

    orphans_with_sentiment.sort(key=sort_key)

    return render(request, 'Dashboard/intervention_behavior.html', {'orphans_with_sentiment': orphans_with_sentiment})