{% extends "Dashboard/base.html" %}
{% load static %}


{% block css %}
{% endblock %}


{% block extra_meta %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}


{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <!-- content -->
    <div>
        <div class="container-fluid mb-0  ">
            <div class="row mt-3 mb-0 pb-0">
                <div class="col-xl-3 col-md-6 mb-0">
                    <div class="card bgdash shadow h-75 w-100 p-0 m-0">
                      <div class="card-body d-flex justify-content-between align-items-center">
                        <h5 class="card-title text-info">Total Orphans</h5>
                        <i class="txtColor icon fa-solid fa-children fs-2   border-0" style="font-size: 35px;"></i>
                      </div>
                      <div class="card-body text-center mb-5 p-0">
                      <h1 class="display-4">
                        {{ total_orphans }}
                      </h1>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-0">
                    <div class="card bgdash shadow h-75 w-100 p-0 m-0">
                      <div class="card-body d-flex justify-content-between align-items-center">
                        <h5 class="card-title text-info">Gender Count</h5>
                        <i class="txtColor icon fa-solid fa-venus-mars fs-2   border-0" style="font-size: 35px;"></i>
                      </div>
                      <div class="card-body text-center mb-5 p-0">
                        <ul class="list-group bgdash list-group-flush">
                          <li class="list-group-item bgdash d-flex justify-content-between align-items-center">
                            Male
                            <span class="badge bg-success rounded-pill">{{ male_count }}</span>
                          </li>
                          <li class="list-group-item bgdash d-flex justify-content-between align-items-center">
                            Female
                            <span class="badge bg-danger rounded-pill">{{ female_count }}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-2 col-md-6 mb-0">
                    <a class="card bgdash shadow h-75 w-100 p-0 m-0 btn btn-outline-primary" href="{% url 'intervention_academics' %}"> 
                      <div class="card-body d-flex justify-content-between align-items-center">
                        <h5 class="card-title text-info ">Education</h5>
                        <i class="txtColor icon fa-solid fa-building-circle-exclamation fs-2   border-0" style="font-size: 35px;"></i>
                      </div>
                      <div class="card-body text-center mb-5 p-0">
                        <h1 class="display-4">
                          {{ orphan_count }}55
                        </h1>
                        <p class="text-center">Orphans Requires Intervention</p>
                      </div>
                    </a>
                  </div>
  
                  <div class="col-xl-2 col-md-6 mb-0">
                    <a class="card bgdash shadow h-75 w-100 p-0 m-0 btn btn-outline-primary" href="{% url 'intervention_health' %}">
                      <div class="card-body d-flex justify-content-between align-items-center">
                        <h5 class="card-title text-info">Health</h5>
                        <i class="txtColor icon fa-solid fa-heart-circle-exclamation fs-2   border-0" style="font-size: 35px;"></i>
                      </div>
                      <div class="card-body text-center mb-5 p-0">
                        <h1 class="display-4">
                          {{ orphan_count }}55
                        </h1>
                        <p class="text-center">Orphans Requires Intervention</p>
                      </div>
                    </a>
                  </div>
  
                  <div class="col-xl-2 col-md-6 mb-0">
                    <a class="card bgdash shadow h-75 w-100 p-0 m-0 btn btn-outline-primary" href="{% url 'intervention_behavior' %}">
                      <div class="card-body d-flex justify-content-between align-items-center">
                        <h5 class="card-title text-info">Behavior</h5>
                        <i class="txtColor icon fa-solid fa-person-circle-exclamation fs-2   border-0" style="font-size: 35px;"></i>
                      </div>
                      <div class="card-body text-center mb-5 p-0">
                        <h1 class="display-4">
                          {{ requires_intervention_behavior }}
                        </h1>
                        <p class="text-center">Orphans Requires Intervention</p>
                      </div>
                    </a>
                  </div>
                </div>
                <hr class="m-0 mt-0 w-100">



                <hr class="m-0 mt-0 w-100">
            <!-- charts here -->
            <div class="container mt-0">
              <div class="row">
                <div class="col-md-4">
                  <div id="sentimentsChartContainer" class="container rounded-4 border border-2 mt-3 canvas-container" onclick="window.location.href='./chart-sentiments.html';" style="height: 52.5vh;">
                    <h4 class="text-center">Sentiments Chart</h4>
                    <canvas id="sentimentChart"></canvas>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="container rounded-4 border border-2 mt-3 canvas-container bar-chart-container" onclick="window.location.href='./chart-bmi.html';" style="height: 26.1h;">
                    <h4 class="text-center">BMI Chart</h4>
                    <canvas id="bmiChart"></canvas>
                  </div>
                  <div class="container rounded-4 border border-2 mt-3 canvas-container bar-chart-container" onclick="window.location.href='./chart-health.html';" style="height: 26.1h;">
                    <h4 class="text-center">Health Chart</h4>
                    <canvas id="healthChart"></canvas>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="container rounded-4 border border-2 mt-3 canvas-container bar-chart-container" onclick="window.location.href='./chart-age.html';"style="height: 26.1h;">
                    <h4 class="text-center">Age Chart</h4>
                    <canvas id="ageChart"></canvas>
                  </div>
                  <div class="container rounded-4 border border-2 mt-3 canvas-container bar-chart-container" onclick="window.location.href='./chart-academic.html';" style="height: 26.1h;">
                    <h4 class="text-center">Academic Chart</h4>
                    <canvas id="academicChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            {{ sentiments|json_script:"sentiments-data" }}
            <script>
            fetch('/Dashboard/api/chart-sentiment/')
            .then(response => response.json())
            .then(sentimentData => {
                var ctx = document.getElementById('sentimentChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: ['Positive', 'Negative', 'Neutral'],
                        datasets: [{
                            label: '# of Orphans',
                            // data: [10, 10, 20],
                            data: [sentimentData.positive, sentimentData.negative, sentimentData.neutral],
                            backgroundColor: ['rgba(255, 99, 132, 0.8)', 'rgba(54, 162, 235, 0.8)', 'rgba(255, 206, 86, 0.8)'],
                            borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)'],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                    }
                });
            });
          </script>
<script>
  // Sample data for demonstration
  const bmiData = {
                  labels: ['Underweight', 'Normal', 'Overweight','Obese'],
                  datasets: [{
                      label: 'BMI Status',
                      data: ['10', '5', '3', '1'], // Updated with BMI status
                      backgroundColor: ['rgba(255, 99, 132, 0.8)', 'rgba(54, 162, 235, 0.8)', 'rgba(255, 206, 86, 0.8)', 'rgba(75, 192, 192, 0.8)'],
                      borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)'],
                      borderWidth: 1
                  }]
              };
            
              const ageData = {
                  labels: ['0-10', '11-20', '21-30', '31-40', '41-50'],
                  datasets: [{
                      label: 'Age Ranges',
                      data: [10, 20, 15, 25, 30],
                      backgroundColor: ['rgba(255, 99, 132, 0.8)', 'rgba(54, 162, 235, 0.8)', 'rgba(255, 206, 86, 0.8)', 'rgba(75, 192, 192, 0.8)', 'rgba(153, 102, 255, 0.8)'],
                      borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)'],
                      borderWidth: 1
                  }]
              };
            
              const academicData = {
                  labels: ['Passed', 'Failed'],
                  datasets: [{
                      label: 'Academic Performance',
                      data: ['10', '5'], // Updated with pass or failed
                      backgroundColor: ['rgba(255, 99, 132, 0.8)', 'rgba(54, 162, 235, 0.8)'],
                      borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)'],
                      borderWidth: 1
                  }]
              };
            
              const healthData = {
                  labels: ['Normal', 'Sick', 'Admitted'],
                  datasets: [{
                      label: 'Health Status',
                      data: ['5', '2', '1'], // Updated with normal, sick, admitted
                      backgroundColor: ['rgba(255, 99, 132, 0.8)', 'rgba(54, 162, 235, 0.8)', 'rgba(255, 206, 86, 0.8)'],
                      borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)'],
                      borderWidth: 1
                  }]
              };

                    // Create BMI chart
              var bmiChartCtx = document.getElementById('bmiChart').getContext('2d');
              var bmiChart = new Chart(bmiChartCtx, {
                  type: 'bar',
                  data: bmiData
              });
            
              // Create Age chart
              var ageChartCtx = document.getElementById('ageChart').getContext('2d');
              var ageChart = new Chart(ageChartCtx, {
                  type: 'bar',
                  data: ageData
              });
            
              // Create Academic chart
              var academicChartCtx = document.getElementById('academicChart').getContext('2d');
              var academicChart = new Chart(academicChartCtx, {
                  type: 'bar',
                  data: academicData
              });
            
              // Create Health chart
              var healthChartCtx = document.getElementById('healthChart').getContext('2d');
              var healthChart = new Chart(healthChartCtx, {
                  type: 'bar',
                  data: healthData
              });
</script>



{% endblock %}



{% block js %}
<!-- Bootstrap JS (Optional, if you want to include JavaScript functionality) -->
<script src="{% static 'Js/chart-bmi.js' %}"></script>
<script src="{% static 'Js/chart-academic.js' %}"></script>
<script src="{% static 'Js/chart-health.js' %}"></script>
<script src="{% static 'Js/chart-age.js' %}"></script>
<!-- <script src="{% static 'Js/chart-sentiments.js' %}"></script> -->

{% endblock %}




<!-- <div id="sentiment-chart-container">
    <div class="container-fluid-charts">
        <div class="container-chart">
            <a href="/Dashboard/sentiment_details/">
                <div id="sentimentChartContainer">
                    <canvas id="sentimentChart" width="500" height="300"></canvas>
                </div>
            </a>
        </div>
    </div>
</div>


<script>
    // Dynamic sentiment data from the database
    // Chart 1: Sentiment Scores - Pie Chart
    var sentimentData = {
        labels: {{ sentiment_labels|safe }},
        datasets: [{
            data: {{ sentiment_data|safe }},
            backgroundColor: ['lightgreen', 'lightcoral', 'lightyellow']
        }]
    };

    var sentimentChart = new Chart(document.getElementById('sentimentChart'), {
        type: 'pie',
        data: sentimentData
    }); -->


