{% extends "Dashboard/base.html" %}
{% load static %}


{% block css %}
{% endblock %}


{% block extra_meta %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}


{% block title %}
    Dashboard
{% endblock %}

{% block content %}        



    <!-- content -->
        <div class="container-fluid mb-0  ">
          <div class="row align-items-center mb-3 mt-3">

                <div class="col mb-3 ">
                  <a class="card bgdash shadow h-75 w-100 p-3 m-0 btn btn-outline-primary" href="{% url 'overall_analysis' %}">
                      <div class="card-body d-flex justify-content-between align-items-center">
                        <h5 class="card-title text-info"> </h5>
                        <i class="txtColor icon fa-solid fa-children fs-2   border-0" style="font-size: 35px;"></i>
                      </div>
                      <div class="card-body text-center mb-4 p-0">
                      <h1 class="display-25"> 
                        <p class="text-center">Orphan Data Analysis</p>
                        <!-- {{ total_orphans }} -->
                      </h1>
                    </div>
                  </a>
                </div>

                <div class="col mb-3">
                  <div class="card bgdash shadow w-100 p-3 m-0">
                      <div class="card-body d-flex justify-content-between align-items-center">
                          <h5 class="card-title text-info">Orphan Count</h5>
                          <i class="txtColor icon fa-solid fa-venus-mars fs-2 border-0" style="font-size: 35px;"></i>
                      </div>
                      <div class="card-body text-center mb-5 p-0">
                          <ul class="list-group bgdash list-group-flush">
                              <li class="list-group-item bgdash d-flex justify-content-between align-items-center">
                                  Male
                                  <span class="badge rounded-pill bg-primary" style="padding: 5px 10px; font-size: 12px;">{{ male_count }}</span>
                              </li>
                              <li class="list-group-item bgdash d-flex justify-content-between align-items-center">
                                  Female
                                  <span class="badge rounded-pill bg-warning text-dark" style="padding: 5px 10px; font-size: 12px;">{{ female_count }}</span>
                              </li>
                              <li class="list-group-item bgdash d-flex justify-content-between align-items-center">
                                  Total
                                  <span class="badge rounded-pill bg-success" style="padding: 5px 10px; font-size: 12px;"> {{ total_orphans }}</span>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              

                <div class="col mb-3">
                  <a class="card bgdash shadow h-75 w-100 p-0 m-0 btn btn-outline-primary" href="{% url 'intervention_academics' %}"> 
                    <div class="card-body d-flex justify-content-between align-items-center">
                      <h5 class="card-title text-info ">Education</h5>
                      <i class="txtColor icon fa-solid fa-building-circle-exclamation fs-2   border-0" style="font-size: 35px;"></i>
                    </div>
                    <div class="card-body text-center mb-5 p-0">
                      <h1 class="display-4">
                        {{ orphan_count }}55
                      </h1>
                      <p class="text-center">Orphans Requires Intervention</p>
                    </div>
                  </a>
                </div>
  
                <div class="col mb-3">
                  <a class="card bgdash shadow h-75 w-100 p-0 m-0 btn btn-outline-primary" href="{% url 'intervention_health' %}">
                    <div class="card-body d-flex justify-content-between align-items-center">
                      <h5 class="card-title text-info">Health</h5>
                      <i class="txtColor icon fa-solid fa-heart-circle-exclamation fs-2   border-0" style="font-size: 35px;"></i>
                    </div>
                    <div class="card-body text-center mb-5 p-0">
                      <h1 class="display-4">
                        {{ orphan_count }}55
                      </h1>
                      <p class="text-center">Orphans Requires Intervention</p>
                    </div>
                  </a>
                </div>

                <div class="col mb-3">
                  <a class="card bgdash shadow h-75 w-100 p-0 m-0 btn btn-outline-primary" href="{% url 'intervention_behavior' %}">
                    <div class="card-body d-flex justify-content-between align-items-center">
                      <h5 class="card-title text-info">Behavior</h5>
                      <i class="txtColor icon fa-solid fa-person-circle-exclamation fs-2   border-0" style="font-size: 35px;"></i>
                    </div>
                    <div class="card-body text-center mb-5 p-0">
                      <h1 class="display-4">
                        {{ requires_intervention_behavior }}
                      </h1>
                      <p class="text-center">Orphans Requires Intervention</p>
                    </div>
                  </a>
                </div>

          </div>
        </div>
        
                
        <hr class="m-0 mt-0 w-100">
<!-- charts here -->
<!-- Charts section -->
<div class="container mt-0 mb-lg-5">
  <div class="row">
    <div class="col-md-4">
      <div id="sentimentsChartContainer" class="container rounded-4 border-2 mt-3 canvas-container" style="position: relative; height: 54.5vh;">
        <a href="{% url 'chart_behavior' %}" style="position: absolute; width: 100%; height: 25%; z-index: 1;"></a>
        <h4 class="text-center">Sentiments Chart</h4>
        <canvas id="sentimentChart"></canvas>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="container rounded-4 border border-2 mt-3 canvas-container bar-chart-container" style="position: relative; height: 26.1vh;">
        <a href="{% url 'chart_academic' %}" style="position: absolute; width: 100%; height: 25%; z-index: 1;"></a>
        <h4 class="text-center">Academic Chart</h4>
        <canvas id="academicChart"></canvas>
      </div>
      
      <div class="container rounded-4 border border-2 mt-3 canvas-container bar-chart-container" style="position: relative; height: 26.1vh;">
        <a href="{% url 'chart_age' %}" style="position: absolute; width: 100%; height: 25%; z-index: 1;"></a>
        <h4 class="text-center">Age Chart</h4>
        <canvas id="ageChart"></canvas>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="container rounded-4 border border-2 mt-3 canvas-container bar-chart-container" style="position: relative; height: 26.1vh;">
        <a href="{% url 'chart_health' %}" style="position: absolute; width: 100%; height: 25%; z-index: 1;"></a>
        <h4 class="text-center">Health Chart</h4>
        <canvas id="healthChart"></canvas>
      </div>
      
      <div class="container rounded-4 border border-2 mt-3 canvas-container bar-chart-container" style="position: relative; height: 26.1vh;">
        <a href="{% url 'chart_bmi' %}" style="position: absolute; width: 100%; height: 25%; z-index: 1;"></a>
        <h4 class="text-center">BMI Chart</h4>
        <canvas id="bmiChart"></canvas>

                </div>
              </div>
            </div>
        </div>
{% endblock %}


            {% block js%}
            <!-- for sentiment/behavior chart -->
            {{ sentiments|json_script:"sentiments-data" }}
            <script>
            fetch('/Dashboard/api/chart-sentiment/')
            .then(response => response.json())
            .then(sentimentData => {
                var ctx = document.getElementById('sentimentChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: ['Positive', 'Negative', 'Neutral'],
                        datasets: [{
                            label: '# of Orphans',
                            // data: [10, 10, 20],
                            data: [sentimentData.positive, sentimentData.negative, sentimentData.neutral],
                            backgroundColor: ['rgba(255, 99, 132, 0.8)', 'rgba(54, 162, 235, 0.8)', 'rgba(255, 206, 86, 0.8)'],
                            borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)'],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                    }
                });
            });
            </script>
          
          <!-- for age distribution chart -->
          <script>
            document.addEventListener('DOMContentLoaded', function () {
              var ctx = document.getElementById('ageChart').getContext('2d');
              
              // Assuming male_age_data and female_age_data are lists of numbers
              var labels = ['0-10', '11-20', '21-30', '31-40'];
              var maleAgeData = {{ male_age_data|safe }};
              var femaleAgeData = {{ female_age_data|safe }};

              var ageData = {
                labels: labels,
                datasets: [{
                  label: 'Male',
                  data: maleAgeData,
                  backgroundColor: 'rgba(54, 162, 235, 0.8)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
                }, {
                  label: 'Female',
                  data: femaleAgeData,
                  backgroundColor: 'rgba(255, 99, 132, 0.8)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 1
                }]
              };

              new Chart(ctx, {
                type: 'bar',
                data: ageData,
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
            });
          </script>

          <!-- for bmi chart -->
          {{ bmi_data|json_script:"bmi-data" }}
          <script type="text/javascript">
            const bmiDataElement = document.getElementById('bmi-data');
            // Renamed the variable to avoid conflicts
            const bmiChartData = JSON.parse(bmiDataElement.textContent);

            const chartData = {
                labels: ['Underweight', 'Normal', 'Overweight', 'Obesity'],
                datasets: [{
                    label: 'BMI Status',
                    data: bmiChartData, // Use the renamed variable here
                    backgroundColor: ['rgba(255, 99, 132, 0.8)', 'rgba(54, 162, 235, 0.8)', 'rgba(255, 206, 86, 0.8)', 'rgba(75, 192, 192, 0.8)'],
                    borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)'],
                    borderWidth: 1
                }]
            };

            var bmiChartCtx = document.getElementById('bmiChart').getContext('2d');
            var bmiChart = new Chart(bmiChartCtx, {
                type: 'bar',
                data: chartData
            });
          </script>


         <script>
          document.addEventListener('DOMContentLoaded', function () {
              const academicLabels = {{ academic_labels|safe }};
              const academicData = {{ academic_data|safe }};
              console.log(academicLabels, academicData);

              const academicChartData = {
                  labels: academicLabels,
                  datasets: [{
                      label: 'Academic Performance',
                      data: {{ academic_data|safe }}.map(Number),
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.8)',
                          'rgba(255, 159, 64, 0.8)',
                          'rgba(255, 205, 86, 0.8)',
                          'rgba(75, 192, 192, 0.8)',
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(255, 159, 64, 1)',
                          'rgba(255, 205, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                      ],
                      borderWidth: 1
                  }]
              };

              const config = {
                  type: 'bar',
                  data: academicChartData,
                  options: {
                    plugins:{
                      scales: {
                          y: {
                              beginAtZero: true
                          }
                      },
                      tooltips: { // Customizing tooltips
                          enabled: true,
                          mode: 'index',
                          intersect: false,
                          callbacks: {
                              label: function(tooltipItem, data) {
                                  var label = data.datasets[tooltipItem.datasetIndex].label || '';
                                  if (label) {
                                      label += ': ';
                                  }
                                  label += tooltipItem.yLabel;
                                  return label;
                              }
                          }
                      }
                    }
                  },
              };

              var academicChartCtx = document.getElementById('academicChart').getContext('2d');
              var academicChart = new Chart(academicChartCtx, config);
          });
          </script>


            <script>  
              const healthData = {
                  labels: ['Normal', 'Sick', 'Admitted'],
                  datasets: [{
                      label: 'Health Status',
                      data: ['5', '2', '1'], // Updated with normal, sick, admitted
                      backgroundColor: ['rgba(255, 99, 132, 0.8)', 'rgba(54, 162, 235, 0.8)', 'rgba(255, 206, 86, 0.8)'],
                      borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)'],
                      borderWidth: 1
                  }]
              };
            
            
              // Create Health chart
              var healthChartCtx = document.getElementById('healthChart').getContext('2d');
              var healthChart = new Chart(healthChartCtx, {
                  type: 'bar',
                  data: healthData
              });
            </script>  



{% endblock %}

