{% extends "Dashboard/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Css/final.css' %}">
{% endblock %}

{% block extra_meta %}
  <!-- Custom styles for this template-->

{% endblock %}


{% block title %}
    Dashboard
{% endblock %}

{% block content %}
<body>

<!-- Heading -->
    <!-- content -->
    <div class="m-2">
        <a href="{% url 'Dashboard' %}" class="btn btn-primary mt-3">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <div class="text-center mx-auto">
            <h1 class="mb-0">Orphan Academic Interventions</h1>
        </div>
    </div>

<hr class="mt-3">
<!-- Show number of Entries -->
                <div class="d-flex justify-content-between mb-3">
                    <div class="d-flex align-items-center">
                        <label for="entriesSelect" class="form-label me-2 mb-0">Show</label>
                        <select class="form-select form-select-sm me-2" id="entriesSelect" style="width: 100px;">
                            <option value="all">All</option>
                            <option value="5">5</option>
                            <option value="10" selected>10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="35">35</option>
                            <option value="40">40</option>
                            <option value="45">45</option>
                            <option value="50">50</option>
                            
                        </select>
                        <span class="me-2">entries</span>
                    </div>
                    <div class="d-flex align-items-center">
                    </div>
                    <div class="d-flex align-items-center">
                        <label for="downloadSelect" class="form-label me-2 mb-0">Download Data</label>
                        <button class="btn btn-primary btn-sm" onclick="downloadData()"><i class="bi bi-download"></i></button>
                    </div>
                </div>
    
    
                

                
                
                <div class="mb-3">
                    <table id="academicDetailsTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Date 
                                    <button class="btn btn-sm me-2" onclick="toggleDropdown('date')">
                                        <i class="bi bi-filter"></i>
                                    </button>
                                    <!-- Date filter dropdown -->
                                    <div id="dateDropdown" class="dropdown-menu" style="display: none;">
                                        <a class="dropdown-item" href="#" onclick="filterByDate('all')">All</a>
                                        <a class="dropdown-item" href="#" onclick="filterByDate('ascending')">Ascending</a>
                                        <a class="dropdown-item" href="#" onclick="filterByDate('descending')">Descending</a>
                                    </div>
                                </th>
                                <th scope="col">
                                    Name
                                    <button class="btn btn-sm me-2" onclick="toggleDropdown('name')">
                                        <i class="bi bi-filter"></i>
                                    </button>
                                    <!-- Name filter dropdown -->
                                    <div id="nameDropdown" class="dropdown-menu" style="display: none;">
                                        <a class="dropdown-item" href="#" onclick="filterByName('all')">All</a>
                                        <a class="dropdown-item" href="#" onclick="filterByName('ascending')">Ascending</a>
                                        <a class="dropdown-item" href="#" onclick="filterByName('descending')">Descending</a>
                                    </div>
                                </th>
                                <th scope="col">
                                    Academic Status
                                    <button class="btn btn-sm me-2" onclick="toggleDropdown('status')">
                                        <i class="bi bi-filter"></i>
                                    </button>
                                    <!-- Status filter dropdown -->
                                    <div id="statusDropdown" class="dropdown-menu" style="display: none;">
                                        <a class="dropdown-item" href="#" onclick="filterByUrgency('all')">All</a>
                                        <!-- ... other parts of your HTML ... -->
                                        <a class="dropdown-item" href="#" onclick="filterByUrgency('Meets Expectations')">Meets Expectations</a>
                                        <a class="dropdown-item" href="#" onclick="filterByUrgency('Needs Significant Improvement')">Needs Significant Improvement</a>
                                        <a class="dropdown-item" href="#" onclick="filterByUrgency('Critical Improvement Needed')">Critical Improvement Needed</a>
                                        
                                    </div>
                                </th>
                                <th scope="col">Remarks</th>

                                <th scope="col">
                                    Intervention Status
                                    <button class="btn btn-sm me-2" onclick="toggleDropdown('urgency')">
                                        <i class="bi bi-filter"></i>
                                    </button>
                                    <!-- Urgency filter dropdown -->
                                    <div id="urgencyDropdown" class="dropdown-menu" style="display: none;">
                                        <a class="dropdown-item" href="#" onclick="filterByStatus('all')">All</a>
                                        <a class="dropdown-item" href="#" onclick="filterByStatus('none')">None</a>
                                        <a class="dropdown-item" href="#" onclick="filterByStatus('resolved')">Resolved</a>
                                        <a class="dropdown-item" href="#" onclick="filterByStatus('pending')">Pending</a>
                                        <a class="dropdown-item" href="#" onclick="filterByStatus('unresolved')">Unresolved</a>
                                        
                                        <!-- ... -->

                                    </div>
                                </th>


                                <th scope="col">Details</th>
                            </tr>
                        </thead>
                        

                        
                        <tbody>
                            {% for item in orphan_educations_status %}
                            <tr>
                                <td>{{ item.last_modified|date:"Y-m-d"|default_if_none:"N/A" }}</td>
                                <td>{{ item.orphan.firstName }} {{ item.orphan.middleName }} {{ item.orphan.lastName }}</td>
                                <td>
                                    <span class="badge bg-{{ item.status_color }}">{{ item.status }}</span>
                                </td>
                                <td>{{ item.remarks }}</td>
                                <td>
                                    <span class="badge bg-{{ item.intervention_color }}">{{ item.intervention_status|default:"None" }}</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="actionsDropdownButton{{ forloop.counter }}" data-bs-toggle="dropdown" aria-expanded="false">
                                            Actions
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="actionsDropdownButton{{ forloop.counter }}">
                                            <li><a class="dropdown-item edit-remarks-action" href="#" data-orphan-id="{{ item.orphan.orphanID }}" data-bs-toggle="modal" data-bs-target="#editRemarksModal">Add remarks</a></li>

                                            <li><a class="dropdown-item" href="#">View</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                        
                        
                        
                        
                    </table>
                </div>


<!-- Add Remarks Modal -->
<div class="modal fade" id="editRemarksModal" tabindex="-1" aria-labelledby="editRemarksModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRemarksModalLabel">Add Remarks</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <form id="editRemarksForm" method="post">

                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="remarksInput" class="form-label">Remarks:</label>
                        <textarea class="form-control" id="remarksInput" name="description" rows="3"></textarea>
                        <div id="remarksValidationMessage" class="invalid-feedback">Remarks cannot be empty.</div>
                    </div>
                    <div class="mb-3">
                        <label for="statusSelect" class="form-label">Status:</label>
                        <select class="form-select" id="statusSelect"  name="status">
                            <option value="resolved">Resolved</option>
                            <option value="pending">Pending</option>
                            <option value="unresolved">Unresolved</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" id="saveRemarksBtn">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get the select element
        var entriesSelect = document.getElementById("entriesSelect");

        // Add event listener for change
        entriesSelect.addEventListener("change", function() {
            // Get the selected value
            var selectedValue = entriesSelect.value;
            // Call a function to update the table with the selected number of entries
            updateTableEntries(selectedValue);
        });
    });

    function updateTableEntries(entries) {
        // Get the table body
        var tableBody = document.querySelector('#academicDetailsTable tbody');
        // Get all rows in the table
        var rows = tableBody.querySelectorAll('tr');

        // Show all rows if 'All' is selected
        if (entries === 'all') {
            rows.forEach(function(row) {
                row.style.display = '';
            });
            return;
        }

        // Hide all rows
        rows.forEach(function(row) {
            row.style.display = 'none';
        });

        // Show only the specified number of entries
        for (var i = 0; i < entries; i++) {
            if (rows[i]) {
                rows[i].style.display = '';
            }
        }
    }
</script>


<!-- Dropdown Functions -->
<script>
function toggleDropdown(dropdownId) {
    var dropdown = document.getElementById(dropdownId + 'Dropdown');
    if (dropdown.style.display === 'none' || dropdown.style.display === '') {
        dropdown.style.display = 'block';
        // Add event listener to document to close dropdown when clicking outside
        document.addEventListener('click', function closeDropdown(event) {
            if (!dropdown.contains(event.target)) {
                closeAllDropdowns(); // Close all dropdowns
                // Remove the event listener after all dropdowns are closed
                document.removeEventListener('click', closeDropdown);
            }
        });

        // Add click event listener to each dropdown item to close the dropdown
        var dropdownItems = dropdown.querySelectorAll('a');
        dropdownItems.forEach(function(item) {
            item.addEventListener('click', function() {
                dropdown.style.display = 'none';
            });
        });
    } else {
        dropdown.style.display = 'none';
    }
}

function filterByDate(filterValue) {
    console.log('Filter by date:', filterValue);
    // Close dropdown after selection
    document.getElementById('dateDropdown').style.display = 'none';
    // Get all table rows
    var rows = Array.from(document.querySelectorAll('#academicDetailsTable tbody tr'));
    rows.forEach(function(row) {
        row.style.display = ''; // Reset to show all rows
    });

    if (filterValue === 'ascending') {
        // Code to sort by ascending date
        rows.sort((a, b) => {
            var dateA = new Date(a.cells[0].textContent);
            var dateB = new Date(b.cells[0].textContent);
            return dateA - dateB; // This will sort in ascending order
        });
    } else if (filterValue === 'descending') {
        // Code to sort by descending date
        rows.sort((a, b) => {
            var dateA = new Date(a.cells[0].textContent);
            var dateB = new Date(b.cells[0].textContent);
            return dateB - dateA; // This will sort in descending order
        });
    }

    // Re-append sorted rows to the table
    var tbody = document.querySelector('#academicDetailsTable tbody');
    tbody.innerHTML = ''; // Clear existing rows
    rows.forEach(function(row) {
        tbody.appendChild(row);
    });
}

function filterByName(filterValue) {
    console.log('Filter by name:', filterValue);
    // Close dropdown after selection
    document.getElementById('nameDropdown').style.display = 'none';
    // Get all table rows
    var rows = document.querySelectorAll('#academicDetailsTable tbody tr');
    rows.forEach(function(row) {
        row.style.display = ''; // Reset to show all rows
    });
    if (filterValue === 'ascending') {
        // Code to sort by ascending name
        rows = Array.from(rows).sort((a, b) => a.cells[1].textContent.localeCompare(b.cells[1].textContent));
    } else if (filterValue === 'descending') {
        // Code to sort by descending name
        rows = Array.from(rows).sort((a, b) => b.cells[1].textContent.localeCompare(a.cells[1].textContent));
    }
    // Re-append sorted rows to the table
    var tbody = document.querySelector('#academicDetailsTable tbody');
    tbody.innerHTML = ''; // Clear existing rows
    rows.forEach(function(row) {
        tbody.appendChild(row);
    });
}

function filterByUrgency(filterValue) {
    // Ensure there's no leading/trailing whitespace in the filterValue
    filterValue = filterValue.trim().toLowerCase();

    // Close dropdown after selection
    document.getElementById('urgencyDropdown').style.display = 'none';

    // Get all table rows
    var rows = document.querySelectorAll('#academicDetailsTable tbody tr');

    // Filter rows based on selected urgency
    rows.forEach(function(row) {
        var urgencyText = row.querySelector('span.badge').textContent.trim().toLowerCase();
        if (filterValue !== 'all' && urgencyText !== filterValue) {
            row.style.display = 'none'; // Hide the row if it doesn't match the filter value
        } else {
            row.style.display = ''; // Show the row
        }
    });
}

function filterByStatus(filterValue) {
    console.log('filterByStatus called with:', filterValue); // Debugging log
    // Close dropdown after selection
    document.getElementById('statusDropdown').style.display = 'none';
    // Get all table rows
    var rows = document.querySelectorAll('#academicDetailsTable tbody tr');
    console.log('Rows found:', rows.length); // Debugging log
    // Reset to show all rows
    rows.forEach(function(row) {
        row.style.display = '';
    });
    // Filter rows based on selected status
    if (filterValue !== 'all') {
        rows.forEach(function(row) {
            // Trim the status text and convert to lowercase for comparison
            var statusText = row.cells[4].textContent.trim().toLowerCase();
            console.log('Status text:', statusText); // Debugging log
            // Check if the status text contains the filter value
            if (statusText !== filterValue) {
                row.style.display = 'none'; // Hide the row if it doesn't match the filter value
            }
        });
    }
}
</script>

<!-- for submitting remarks/intervention -->


<script>
document.addEventListener('DOMContentLoaded', function() {
    // Ensure this is selecting elements correctly, particularly after rendering or dynamic updates
    document.querySelectorAll('.edit-remarks-action').forEach(function(button) {
        button.addEventListener('click', function() {
            var orphanId = this.getAttribute('data-orphan-id');
            console.log('Orphan ID set for modal:', orphanId); // Check if the ID is correct
            var form = document.getElementById('editRemarksForm');
            form.action = '/Dashboard/save_intervention/' + orphanId + '/'; // Set form action directly
        });
    });


    // Event listener for form submission within the modal
    document.getElementById('editRemarksForm').addEventListener('submit', function(e) {
        e.preventDefault();

        var modal = document.getElementById('editRemarksModal');
        var orphanId = modal.getAttribute('data-orphan-id');
        console.log('Sending AJAX request for Orphan ID:', orphanId); // This should not be undefined or empty

        var remarks = document.getElementById('remarksInput').value;
        var status = document.getElementById('statusSelect').value;

        // Validate input
        if (!remarks.trim()) {
            document.getElementById('remarksValidationMessage').style.display = 'block';
            return;
        } else {
            document.getElementById('remarksValidationMessage').style.display = 'none';
        }

        // Prepare the data to send in the AJAX request
        var formData = new FormData();
        formData.append('description', remarks);
        formData.append('status', status);

        // Make the AJAX request
        console.log('Orphan ID:', orphanId);  // Add this line
        fetch('/Dashboard/save_intervention/' + orphanId + '/', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
            credentials: 'same-origin'
        })
        .then(response => {
            if (!response.ok) {
                return response.text().then(text => {
                    try {
                        const data = JSON.parse(text);
                        throw new Error(data.message || 'Server error');
                    } catch {
                        // This will handle non-JSON responses gracefully
                        throw new Error(text.slice(0, 100) + '...');  // Display the first 100 characters of the response
                    }
                });
            }
            return response.json();
        })

        .then(data => {
            console.log('Success:', data);
            alert('Remarks saved successfully.');
            document.getElementById('editRemarksForm').reset();
            
            var modalElement = document.getElementById('editRemarksModal');
            var modalInstance = bootstrap.Modal.getInstance(modalElement);
            modalInstance.hide();          
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('An error occurred while saving the remarks: ' + error.message);
            document.getElementById('editRemarksForm').reset();
        });
    });
});

// Function to get CSRF token
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    </script>

    <!-- Download Function -->

    <script>
        function downloadData() {
        // Get reference to the table
        var table = document.getElementById('academicDetailsTable');
    
        // Check if table exists
        if (!table) {
            console.error("Table not found.");
            return;
        }
    
        // Start CSV content with column headers
        var csvContent = "Date,Name,Academic Status,Remarks,Intervention Status\n";
    
        // Convert table content to CSV format
        var rows = table.querySelectorAll('tbody tr');
        if (rows.length === 0) {
            console.warn("No data found in the table.");
            return;
        }
    
        rows.forEach(function(row) {
            var rowData = [];
            var cells = row.querySelectorAll('td');
    
            cells.forEach(function(cell) {
                var cellContent = cell.textContent.trim().replace(/"/g, '""');
                rowData.push('"' + cellContent + '"');
            });
    
            csvContent += rowData.join(',') + '\n';
        });
    
        // Create a link and trigger download
        var encodedUri = encodeURI('data:text/csv;charset=utf-8,' + csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "Academic_data");
        document.body.appendChild(link);
        link.click();
    
        // Clean up
        document.body.removeChild(link);
    }
    
    </script>
    



    {% endblock %}

    {% block js %}


    {% endblock %}



{</body>

</html>}