{% extends "Dashboard/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Css/final.css' %}">
{% endblock %}

{% block extra_meta %}
  <!-- Custom styles for this template-->

{% endblock %}


{% block title %}
    Academic Intervention Details
{% endblock %}




{% block content %}
  <h2>{{ orphan.firstName }}'s Health Intervention History</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for intervention in interventions %}
      <tr>
        <td>{{ intervention.last_modified|date:"Y-m-d" }}</td>
        <td>{{ intervention.get_status_display }}</td>
        <td>{{ intervention.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}