{% extends "Dashboard/base.html" %}

{% load static %}

{% block title %}
    Orphan Profile
{% endblock %}

{% block css %}
    <script src="{% static 'Js/orphan-content.js' %}"></script>

{% endblock %}

{% block content %}
  <div>
          <div class=" row">
        {% comment %} <div class="col-md-2"> 
            <a href="{% url 'Dashboard' %}" class="m-1 btn btn-primary mt-3 text-start m-0" style="width: 40px">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </div>
        <div class="mt-2 text-start mx-auto col-md-7 p-0 m-0">
        </div> {% endcomment %}
            <h1 class="mb-0 text-center m-2">Orphan Summary</h1>

        <hr class="mt-2">

        {% if orphan.orphan_picture %}
        <img class="col-3 file-icon fs-1 img-fluid picsize" src="{{ orphan.orphan_picture.url }}" height="100px" width="100px" alt="{{ orphan.firstName }} {{ orphan.lastName }}'s profile picture">
        {% else %}
        <img class="col-3 file-icon fs-1 img-fluid picsize"  src="{% static 'images/default_orphan_picture.png' %}" height="100px" width="100px" alt="Default profile picture">
        {% endif %}                  

        <div class="col-5 mt-3">
          <h3>{{ orphan.firstName }} {{ orphan.middleName }} {{ orphan.lastName }}</h3>
          <!-- Temporary debug print -->      
          {% if orphan.status == "A" %}
              <div class="d-flex flex-column align-items-start">
                  <span class="badge bg-success rounded-pill" id="admittedBadge">Admitted</span>
                  <button id="graduateBtn" class="btn btn-outline-danger mt-2" onclick="confirmGraduation({{ orphan.orphanID }});">Mark as Graduated?</button>
              </div>
          {% elif orphan.status == "G" %}
              <span class="badge bg-danger rounded-pill" id="graduatedBadge">Graduated</span>
          {% elif orphan.status == "P" %}
              <span class="badge bg-warning rounded-pill">Pending</span>
          {% endif %}
        </div>

        <hr class="mt-3">

        </div>
      </div>
    </div>



        
{% endblock %}  

{% block js %}

{% endblock %}

</body>
</html> 
