{% extends "Dashboard/base.html" %}
{% load static %}

{% block title %}
    Orphan Sentiment Detail
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Css/orphanSentiment_detail.css' %}">
{% endblock %}

{% block content %}
<!-- <div class="main-content"> -->
<div class="container-orphan">
    <div class="header">
        {% if orphan.orphan_picture %}
            <img class="file-icon-orphan" src="{{ orphan.orphan_picture.url }}" alt="{{ orphan }}'s profile picture">
        {% else %}
            <img class="file-icon-orphan" src="{% static 'images/default_orphan_picture.png' %}" alt="Default profile picture">
        {% endif %}
    </div>
    <div class="info">
        <div>
            <h3>{{ orphan.firstName }} {{ orphan.middleName }} {{ orphan.lastName }}</h3>
            <p>Orphan ID: {{ orphan.orphanID }}</p>
        </div>


    <div class="notes-history">
        <h3>Notes History</h3>
        {% for note in orphan.notes.all %}
            <div class="note">
                <p>{{ note.timestamp }}: {{ note.text }}</p>
            </div>
        {% empty %}
            <p>No notes found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}