{% extends "Dashboard/base.html" %}

{% load static %}

{% block title %}
    Orphan Profile
{% endblock %}

{% block css %}
    <script src="{% static 'Js/orphan-content.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>
{% endblock %}

{% block content %}
<div>
    {% comment %} <div class="row">
    <h1 class="mb-0 text-center">Orphan Summary</h1>
        {% if orphan.orphan_picture %}
        <img class="col-3 file-icon fs-1 img-fluid picsize" src="{{ orphan.orphan_picture.url }}" height="100px" width="100px" alt="{{ orphan.firstName }} {{ orphan.lastName }}'s profile picture">
        {% else %}
        <img class="col-3 file-icon fs-1 img-fluid picsize"  src="{% static 'images/default_orphan_picture.png' %}" height="100px" width="100px" alt="Default profile picture">
        {% endif %}                  
        <div class="col-5 mt-3">
            <h3>{{ orphan.firstName }} {{ orphan.middleName }} {{ orphan.lastName }}</h3>
        </div>
    </div> {% endcomment %}

    <div class="row align-items-center">
        <h1 class="mb-0 text-center">Orphan Charts Summary</h1>
        <div class="col-md-2 d-flex justify-content-center img-fluid">
            <div class="image-container" style="height: 200px; width: 200px; overflow: hidden; border-radius: 50%;">
                {% if orphan.orphan_picture %}
                <img class="file-icon fs-1 img-fluid picsize" src="{{ orphan.orphan_picture.url }}" style="width: auto; height: 100%; object-fit: cover; display: inline-block; max-width: none; max-height: none;" alt="{{ orphan.firstName }} {{ orphan.lastName }}'s profile picture">
                {% else %}
                <img class="file-icon fs-1 img-fluid picsize" src="{% static 'images/default_orphan_picture.png' %}" style="width: auto; height: 100%; object-fit: cover; display: inline-block; max-width: none; max-height: none;" alt="Default profile picture">
                {% endif %}
            </div>
        </div>
        <div class="col-5 mt-3">
            <h3>{{ orphan.firstName }} {{ orphan.middleName }} {{ orphan.lastName }}</h3>
        </div>
    </div>
    

        <hr class="mt-3">
        <div class="container-fluid row">
            <div class="col-md-4">
                <canvas id="statusBreakdownChartCanvas"></canvas>
                <div id="statusBreakdownData"></div>
            </div>
            <div class="container border p-3 rounded-3 col-md-8 row">
                <div class="col-md-6 mb-1 border rounded ">
                    <canvas id="gpaChartCanvas"></canvas>
                </div>
                <div class="col-md-6 mb-1 border rounded ">
                    <canvas id="behaviorChartCanvas"></canvas>
                </div>
                <div class="col-md-12 align-content-center border rounded p-2">
                    <canvas id="healthChartCanvas"></canvas>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    const orphanId = "{{ orphan_id }}";
    fetch(`/Dashboard/orphan_status_breakdown/${orphanId}/`)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('statusBreakdownChartCanvas').getContext('2d');
            new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Status Score', // Add this line

                        data: data.data,
                        backgroundColor: [
                            // 'rgba(239, 74, 74, 0.6)', // Red for Education
                            // 'rgba(255, 205, 86, 0.6)', // Orange for Health
                            'rgba(75, 192, 192, 0.6)' // Green for Behavior
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)', // Red border
                            'rgba(255, 205, 86, 1)', // Orange border
                            'rgba(75, 192, 192, 1)' // Green border
                        ],
                        borderWidth: 2,
                        pointRadius: 4,   // Larger points

                        pointStyle: 'circle' // Choose a distinct point style

                    }]
                },
                options: {
                    scales: {
              r: { 
                min: 20, // Adjust this value as needed, closer to your minimum score
            max: 30, // Adjust this value as needed, close to your maximum score
            ticks: {
                stepSize: 1 // Or any other step size that makes sense for your data
            },
                  grid: {
                      color: 'lightgray' // Add gridlines
                  },
                  pointLabels: {
                    display: true,
                      font: {
                          size: 15 
                      }
                  }
              }
          },
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Orphan Status Breakdown',
                            font: (50)
                        }
                    }
                },
            });

            function getStatusBasedOnData(data, maxScores) {
    // Calculate the composite score and maximum possible score
    const compositeScore = data.reduce((sum, score) => sum + Number(score), 0);
    const maxPossibleScore = maxScores.reduce((sum, maxScore) => sum + maxScore, 0);

    // Determine status based on the ratio of composite score to maximum possible score
    const scoreRatio = compositeScore / maxPossibleScore;
    let status;
    if (scoreRatio < 0.5) {
        status = 'Critical Attention Needed';
    } else if (scoreRatio < 0.7) {
        status = 'Monitoring Required';
    } else {
        status = 'Stable';
    }

    // Return both the status and the composite score
    return { status: status, score: compositeScore, maxScore: maxPossibleScore }; 
}

// Define your max scores
// Define your max scores
const maxScores = [30, 30, 40];  // Assumed to be whole numbers
// Assume data.data is an array of actual scores [20, 30, 25]
const statusAndScore = getStatusBasedOnData(data.data, maxScores); 
const statusBreakdownDataDiv = document.getElementById('statusBreakdownData');
let statusBreakdownText = 'Status Breakdown<br>';

data.labels.forEach((label, index) => {
    // Use Math.round to ensure whole number display if necessary
    const score = Math.round(data.data[index]); // Ensures the score is a whole number
    statusBreakdownText += `${label}: ${score} / ${maxScores[index]}<br>`;
});
statusBreakdownText += `Total Score: ${Math.round(statusAndScore.score)} / ${statusAndScore.maxScore}<br>`; // Display the total score and max possible score
statusBreakdownText += `Resulting Status: ${statusAndScore.status}<br>`;
statusBreakdownDataDiv.innerHTML = statusBreakdownText;


        });
});

document.addEventListener('DOMContentLoaded', function() {
    const orphanId = "{{ orphan_id }}"; 

    // Fetch GPA Summary data and create the chart
    fetch(`/Dashboard/individual_gpa_summary/${orphanId}/`)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('gpaChartCanvas').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.map(item => `${item.year} ${item.time_period}`),
                    datasets: [{
                        label: 'Average Grade',
                        data: data.map(item => item.average_grade),
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'GPA Summary'
                        }
                    }
                },
            });
        });

    // Fetch Behavior Summary data and create the chart
    fetch(`/Dashboard/individual_behavior_summary/${orphanId}/`)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('behaviorChartCanvas').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.map(item => `Week ${item.week}`),
                    datasets: [{
                        label: 'Average Score',
                        data: data.map(item => item.average_score),
                        borderColor: 'rgb(255, 99, 132)',
                        tension: 0.1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Behavior Summary'
                        },
                                        
                        subtitle: {
                            display: true,
                            text: 'Scores range from -1 (most negative) to +1 (most positive).',
                            font: {size: 12}
                        },
                    }
                },
            });
        });

    // Fetch Health Summary data and create the chart
    fetch(`/Dashboard/individual_health_summary/${orphanId}/`)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('healthChartCanvas').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Health Score',
                        data: data.data,
                        borderColor: 'rgb(54, 162, 235)',
                        tension: 0.1
                    }]
                },
                options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                        labels: {
                            usePointStyle: true,  // Use point style for a better legend indicator
                        }
                    },
                    title: {
                        display: true,
                        text: 'Health Summary',
                        position: 'top',
                        font: { size: 18 },
                        padding: 20,
                        // Adding subtitle
                        subText: "Monthly Analysis of Overall Health",
                        font: { size: 14 },
                        color: '#666'
                    },
                
                        subtitle: {
                            display: true,
                            text: 'Chart of health score trajectory over the past 4 months.',
                            font: {size: 12}
                        },
                    tooltip: {
                        usePointStyle: true,
                        mode: 'index',
                        intersect: false,
                        bodySpacing: 8,
                        titleSpacing: 6,
                        callbacks: {
                            label: function(tooltipItem, data) {
                                return `Score: ${tooltipItem.raw.toFixed(2)}`;
                            }
                        }
                    }
                }
            }
                
            });
        });

});



        </script>
        
        
{% endblock %}  

{% block js %}

{% endblock %}

</body>
</html> 
